@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "EditContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div style="border:2px solid gray;height:730px;width:auto;background-color:lightgray;border-radius:5px;">
    <div style="border:2px solid black;border-radius:5px;width:1200px;margin:200px auto;background-color:cornflowerblue;">
        @using (Html.BeginForm("EditContent", "WriterPanelContent", FormMethod.Post))
        {
            <div class="card-body form-group">
                @Html.HiddenFor(x => x.ContentID, new { @class = "form-control" })
                @Html.HiddenFor(x => x.HeadingID, new { @class = "form-control" })

                @Html.Label("İçeriğinizi Yazın",new  {@style="font-size:20px;font-weight:bolder;" })
                @Html.TextAreaFor(x => x.ContentValue, 4, 30, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ContentValue, "", new { @style = "color:red" })

                <br />
                <button style="float:right;" class="btn btn-success text-black">Düzenle</button>
            </div>
        }
    </div>
</div>
