@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni  Yazar Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{
<div class="form-group">

    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterSurName, "", new { @style = "color:red" })
    <br />
    @Html.Label("E-mail")
    @Html.TextBoxFor(x => x.WriterEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterEmail, "", new { @style = "color:red" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.writerPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.writerPassword, "", new { @style = "color:red" })
    <br />
    @Html.Label("Yazar Profil Fotoğref")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterImage, "", new { @style = "color:red" })
    <br />
    @Html.Label("Yazar Ünvanı")
    @Html.TextBoxFor(x => x.writerTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.writerTitle, "", new { @style = "color:red" })
    <br />
    @Html.Label("Hakkımda")
    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-dark">Yazar Ekle</button>
</div>
}

